.accountBtn,
.campaignBtn {
  display: block;
  color: black;
  cursor: pointer;
  outline: none;
  border: none;
  background-color:#ffffff;
  width: auto;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: .8rem;
  font-weight: 500;
  box-shadow: 1px 1px 2px 1px #747272;

}

.accountBtn:hover,
.campaignBtn:hover {
  background-color: #8458B3;
}


.mainBtn{
  display: block;
  color: black;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  background-color:#ffffff;
  width: 150px;
  text-align: center;
  height: 35px;
  border: 3px solid black;
  border-radius: 35px;
  padding: 5px;
  font-size: .9rem;
  font-weight: 500;
  /* box-shadow: 1px 1px 2px 1px #747272; */
  text-decoration: none;
  transition: 0.3s;
}

.mainBtn:hover {
  background: linear-gradient(to bottom, #fdcc44 5%, #FFA500 100%);
  color: black;
  border-color: #FFA500;
}

.cancelBtn{
  display: block;
  color: black;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  background-color:#a09e9e;
  width: 150px;
  text-align: center;
  height: 35px;
  border: 3px solid black;
  border-radius: 35px;
  padding: 5px;
  font-size: .9rem;
  font-weight: 500;
  /* box-shadow: 1px 1px 2px 1px #747272; */
  text-decoration: none;
  transition: 0.3s;
}

.cancelBtn:hover {
  background: linear-gradient(to bottom, #e22828 5%, #800404 100%);
  color: white;
  border-color: #800404;
}


.editButton,
.deleteButton {
  border: 1px solid #404346;
  border-radius: 35px;
  padding: 2px 10px;
  color: #404346;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px 1px 5px -1px;
  font-size: .9em;
  margin: 5px;
  text-align: center;
  transition: 0.3s;
}

.editButton:hover,
.deleteButton:hover {
  background: linear-gradient(to bottom, #fdcc44 5%, #FFA500 100%);
  border-color: #FFA500;
  color: #292a2b;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 5px 3px #ccc;
}

