/* -----------CAMPAIGN PREVIEW------------------------------ */
/* -------------------------------------------------------- */
.campaignCard {
  border-bottom: 1px solid black;
  display: flex; 
  padding: 10px; 
}

.companyLogo {
  height: auto;
  width: 80%;
  border-radius: 50%;
}

.campaignCard-left {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campaignCard-middle {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 70%;
}

.campaignCard-campaignName {
  margin: 0;
  color: blue;
  font-weight: bold;
  font-size: 1em;
}

.campaign-company {
  font-weight: bold;
}

.campaignCard-details {
  margin: 0;
  line-height: .8;
}

.campaignActivity-identifiers > em {
  font-size: .8em;
}

.campaignCard-right {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

.campaignButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* -----------FULL CAMPAIGN VIEW------------------------------ */
/* ---------------------------------------------------------- */

.tag {
  color: red;
}

.campaignStatus {
  display: flex;
  justify-content: center;
}

.campaignStatusList {
  display: flex;
  justify-content: center;
}

.campaignStatus-wrapper {
  width: 80%;
}

.campaignStatus-container {
  display: flex;
  flex-direction: column;
  width:100%;
}

.inProgressCampaigns {
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.inProgressCampaign-card {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 20px;
  width: 60%;
}

.campaignTrackerHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.campaign-title {
  width: 70%;
}

.campaignDetails {
  width: 22%
}

.campaignStatus-actionButtons {
  display: flex;
  justify-content: space-around;
  width: 8%;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 35px;
}

.statusTag-complete {
  color: white;
  font-weight: bold;
}

.soldComplete,
.soldIncomplete {
  border-radius: 35px 0 0 35px;
  width: 10%;
  text-align: center;
  border-right: 1px solid black;
}

.approvalComplete,
.approvalIncomplete {
  width: 15%;
  text-align: center;
  border-right: 1px solid black;
}

.creativeComplete,
.creativeIncomplete {
  width: 15%;
  text-align: center;
  border-right: 1px solid black;
}

.productionComplete,
.productionIncomplete {
  width: 30%;
  text-align: center;
  border-right: 1px solid black;
}

.schedulingComplete,
.schedulingIncomplete {
  width: 15%;
  text-align: center;
  border-right: 1px solid black;
}


.campaignComplete,
.campaignIncomplete {
  border-radius: 0 35px 35px 0;
  width: 15%;
  text-align: center;
  border-right: 1px solid black;
}

.soldComplete,
.approvalComplete,
.creativeComplete,
.productionComplete,
.schedulingComplete,
.campaignComplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: green;
  padding: 10px 5px;
}

.soldIncomplete,
.approvalIncomplete,
.creativeIncomplete,
.productionIncomplete,
.schedulingIncomplete,
.campaignIncomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #c9c7c7;
  padding: 10px 5px;
}

.editStatusHeader {
  text-align: center;
}