/* -----------CAMPAIGN PREVIEW------------------------------ */
/* -------------------------------------------------------- */
.campaignCard {
  border: #efefef 3px solid;
  border-radius: 8px;
  margin: 5px 0;
  display: flex; 
  padding: 10px; 
}

.companyLogo {
  height: auto;
  width: 80%;
  border-radius: 50%;
}

.campaignCard-left {
  width: 20%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campaignCard-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 60%;
  min-width: 60%;
  max-width: 60%;
}

.campaignCard-campaignName {
  margin: 0;
  color: #151c22;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.campaignCard-campaignName:hover {
  color: #000000;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgb(131, 131, 131);
  transition: 0.3s;
}

.campaign-company {
  font-weight: bold;
}

.campaignCard-details {
  margin: 0;
  font-size: 1.1em;
  line-height: .8;
}

.campaignActivity-identifiers > em {
  font-size: 1em;
}

.campaignCard-right {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  min-width: 20%;
}

.campaignButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* -----------FULL CAMPAIGN VIEW------------------------------ */
/* ---------------------------------------------------------- */

.tag {
  color: red;
}

.campaignStatus {
  display: flex;
  justify-content: center;
}

.campaignStatusList {
  display: flex;
  justify-content: center;
}

.campaignStatus-wrapper {
  width: 80%;
}

.campaignStatus-container {
  display: flex;
  flex-direction: column;
  width:100%;
}

.inProgressCampaigns {
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.inProgressCampaign-card {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 20px;
  width: 60%;
}

.campaignTrackerHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.campaign-title {
  width: 70%;
  max-width: 70%;
  min-width: 70%;
}

.campaignDetails {
  width: 22%
}

.campaignStatus-actionButtons {
  display: flex;
  justify-content: space-around;
  width: 8%;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #b9babb;
  border-radius: 35px;
}

.statusTag-complete {
  color: white;
  font-weight: bold;
}

.soldComplete,
.soldIncomplete {
  border-radius: 35px 0 0 35px;
  width: 10%;
  text-align: center;
  border-right: 3px solid #b9babb;
}

.approvalComplete,
.approvalIncomplete {
  width: 15%;
  text-align: center;
  border-right: 3px solid #b9babb;
}

.creativeComplete,
.creativeIncomplete {
  width: 15%;
  text-align: center;
  border-right: 3px solid #b9babb;
}

.productionComplete,
.productionIncomplete {
  width: 30%;
  text-align: center;
  border-right: 3px solid #b9babb;
}

.schedulingComplete,
.schedulingIncomplete {
  width: 15%;
  text-align: center;
  border-right: 3px solid #b9babb;
}


.campaignComplete,
.campaignIncomplete {
  border-radius: 0 35px 35px 0;
  width: 15%;
  text-align: center;
  border-right: 3px solid #b9babb;
}

.soldComplete,
.approvalComplete,
.creativeComplete,
.productionComplete,
.schedulingComplete,
.campaignComplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #329107 5%,  #225f06 100%);
  padding: 10px 5px;
}

.soldIncomplete,
.approvalIncomplete,
.creativeIncomplete,
.productionIncomplete,
.schedulingIncomplete,
.campaignIncomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #c9c7c7 5%,  #929191 100%);
  padding: 10px 5px;
}

.currentStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #c9c7c7 5%,  #929191 100%);
  padding: 10px 5px;
  animation: pulse 5s ease infinite;
}

@keyframes pulse {
  0% {
    background: #929191;
  }
  50% {
    background:  #225f06;
    color: white;
  }
  100% {
    background: #929191;
  }
}

.editStatusHeader {
  text-align: center;
}



/* -----------FULL DETAIL------------------------------------ */
/* ---------------------------------------------------------- */

.campaignDetail-wrapper {
  display: flex;
  justify-content: center;
}

.campaignDetail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.campaignDetailHeaderContent {
  display: flex;
  margin-top: 5%;
}

.campaignDetail-left {
  width: 80%;
  min-width: 80%;
  max-width: 80%;
}

.campaignTitle {
  font-family: 'Teko', sans-serif;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

.campaignDetail-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}

.campaignDetailButtons {
  display: flex;
  justify-content: flex-end;
}

.campaignDetailCard {
  border: 3px solid #b9babb;
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
}

.campaignDetailProgressBar {
  margin: 20px 0;
}

.campaignClient {
  display: flex;
  margin-bottom: 20px;
  width: 60%;
}

.campaignCompanyLogo {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
  height: auto;
  border-radius: 50%;
}

.campaignClientName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.campaignCompany {
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: 3em;
}

.campaignDetails-content {
  display: flex;
  justify-content: space-between;
}

.campaignDetailCard-middle {
  width: 100%;
}

.campaignDetails-content {
  width: 100%;
}

.campaign-dl {
  width: 30%;
  min-width: 30%;
}

.dlMiddle,
.dlRight {
  width: 30%;
  display: flex;
  justify-content: center;
}

.campaignStatus-update {
  margin: 10px 0;
  text-align: right;
}

.deleteContainer {
  display:flex;
  justify-content: center;
}

.deleteAccount {
  margin-top: 5%;
  width: 25%;
  text-align: center;
}

.actionBtns {
  display: flex;
  justify-content: center;
}

.btnGroup {
  align-items: center;
}