.home-container {
  display: flex;
  justify-content: center;
}

.homeContainer-contents {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 80%;
}

.userDetails {
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
  width: 15%;
}

.home-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard-container {
  padding: 20px 10px;;
  background: #ffffff;
  border: #efefef 3px solid;
  margin-bottom: 10px;
}

.overview-container {
  display: flex;
  justify-content: space-between;
}

.account-container,
.campaign-container {
  border-radius: 3px;
  padding: 20px;
  width: 49%;
}

.account-list,
.campaignList {
  border: #efefef 3px solid;
  background: #ffffff;
  border-radius: 3px;
  height: 80%;
  padding: 10px 20px;
  margin: 10px;
}

.dashboardTitle {
  text-align: center;
  font-size: 36px;
  color: #404346;
}

.addBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* ----------------OVERVIEW------------------------ */
/* ------------------------------------------------ */

.dashboard-details {
  display: flex;
}

.revenueDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
}

.booked,
.pipeline,
.projection {
  background: #404346;
  border-radius: 3px;
  padding: 3px 20px;
  margin: 5px 0;
  width: 10vw;
}

.booked > h7,
.pipeline > h7,
.projection > h7 {
  color: #b9babb;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'News Cycle', sans-serif;
}

.booked > h5,
.pipeline > h5,
.projection > h5 {
  color: #eef0f1;
  font-size: 1.35em;
  font-weight: bold;
  font-family: 'News Cycle', sans-serif;
}

.budgetDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}


/* ----------------USER---------------------------- */
/* ------------------------------------------------ */

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userImage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userProfilePic {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.user-name {
  text-align: center;
  color: #494d5f;
  font-family: "Iceland", sans-serif;
  font-size: 1.7vw;
  margin-top: 10px;
}
