.login-form {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.loginFields {
  width: 20%;
}

.loginBtn {
  display: flex;
  justify-content: flex-end;
}

.loginHeader {
  font-family: "Iceland", sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin-top: 5%;
}

.loginText {
  text-align: center;
}