.nav-name > h5 {
  font-family: 'Iceland', sans-serif;
  /* margin-bottom: 5px; */
  padding: 0;
  margin: 0 20px 0 0;
  font-size: 1.55em;
  color: #eef0f1;
}

.nav-name {
  padding: 0;
}

.navUserContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navUserImage > img {
  width: 35px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-item {
  color: #e5eaf5
}

.nav-link:hover {
  color: #FFA500;
}